/.idea
*.iml
/target
id_file
/dep.txt
/*.svg
/puml/*.svg
/*.png
/puml/*.png
/derby.log
.DS_Store
Thumbs.db
/fhir-ig/fsh-generated
/fhir-ig/input-cache
/fhir-ig/output
/fhir-ig/temp
/fhir-ig/template
/messages
